<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         forceCoversAnnotation="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="tests.php">tests/</directory>
            <directory suffix="test.php">tests/</directory>
            <directory suffix="TestBaseForm.php">tests/</directory>
        </testsuite>
    </testsuites>

  <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">./src/</directory>
  </whitelist>
</filter>

</phpunit>
